*{
    margin: 0;
}
.logo1 img{
    width: 100px;
    height: 70px;
    padding: 20px;
}
.logo1{
  background-color: rgb(249, 215, 221);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 80px;
}
.back-link {
  text-decoration: none;
  color: black;
  font-weight: 600;
  font-size: 18px;
}
.back-link:hover {
  color: rgb(255, 99, 132);
}

body{
     background-color: rgb(249, 215, 221);
}
.back {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: 1px solid black;
    column-gap: 40px;
    background-color: white;
    margin: 20px 80px 120px 80px;
    height: 80vh;                
    overflow: hidden;
    box-shadow: 10px 10px 50px 30px rgba(0,0,0,0.15);           
}

.image1 {
    width: 100%;
    height: 100%;
}

.image1 img {
    width: 100%;
    height: 100%;
    object-fit: cover;          
}



.form form{
    justify-content: center;
    text-align:center;
    margin:20px 80px 0px 80px ;
    display: flex;
    flex-direction: column;
}
.form h3{
    justify-content: center;
    text-align:center;
    margin:120px 0px 0px 0px ;
    border-radius: 5px;
    font-size: 35px;
}
.form input{
    width:300px;
    height:30px;
    padding: 2px 10px;
    margin:3px 70px;
    border-radius: 10px;
}
.form button{
    width:300px;
    height:30px;
    padding: 2px 10px;
    margin:3px 80px;
    border-radius: 10px;
    background-color: rgb(249, 215, 221);
}