.shop-header {
  background-color: rgb(249, 215, 221);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 80px;
}

.shop-logo {
  width: 120px;
}

.back-link {
  text-decoration: none;
  color: black;
  font-weight: 600;
  font-size: 18px;
}
.back-link:hover {
  color: rgb(255, 99, 132);
}


.shop-banner {
  background-color: rgb(249, 215, 221);
  padding: 80px 20px;
  text-align: center;
}

.shop-banner h1 {
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 10px;
}

.shop-banner p {
  font-size: 18px;
  color: #555;
}
.shop-section {
  padding: 60px 50px;
  background-color: #fff;
}

.shop-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 40px;
  justify-items: center;
}

.product-card {
  width: 100%;
  max-width: 260px;
  background: #fff;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  text-align: center;
  padding: 20px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.product-card img {
  width: 100%;
  height: 220px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 15px;
}

.product-card h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.price {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 15px;
}

.price span {
  color: #777;
  text-decoration: line-through;
  margin-left: 5px;
  font-size: 16px;
}

.product-card button {
  padding: 10px 20px;
  border-radius: 25px;
  border: none;
  font-size: 15px;
  background-color: black;
  color: white;
  cursor: pointer;
  transition: 0.3s ease;
}

.product-card button:hover {
  background-color: rgb(249, 215, 221);
  color: black;
  transform: scale(1.05);
}

.product-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 8px 18px rgba(0,0,0,0.2);
}
