body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
}

.container {
    max-width: 700px;
    margin: 20px auto;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    border:3px solid black;
    padding:0;
}

header {
    background-color: #007bff;
    color:solid ghostwhite;
    text-align: center;
    padding: 2px 0;
}


.about {
    text-align: left;
    padding: 20px;
    background-color: #fff;
    border:2px solid gainsboro;
    margin:20px;
}

.about img {
    display: block;
    margin-left: 20px;
    width: 180px;
    height: auto;
    border-radius: 4px;
}

.about-text {
    margin-top: 15px;
    padding-left: 20px;
}

.about-text h2 {
    margin-top: 0;
    color: #333;
}

.about-text p {
    color: #444;
    line-height: 1.6;
}


.achievements {
    background-color: #ffff;
    padding: 20px;
    margin:20px;
    border:2px solid gainsboro
}

.achievements h2 {
    margin-top: 0;
    color: #333;
}

.achievements ul {
    padding-left: 20px;
    line-height: 1.6;
}


footer {
    background-color: #007bff;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    font-size: 14px;
}
