body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(to bottom right, #0286ff, #00bfff);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calculator {
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 6px 15px rgba(0,0,0,0.15);
  padding: 20px;
  width: 260px;
}

.display {
  background-color: #f5f5f5;
  height: 50px;
  border-radius: 8px;
  text-align: right;
  padding: 10px;
  font-size: 22px;
  font-weight: bold;
  color: #333;
  margin-bottom: 15px;
  box-shadow: inset 0 0 4px rgba(0,0,0,0.1);
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}


.num {
  background-color: #cce5ff;
  border: none;
  border-radius: 8px;
  font-size: 18px;
  font-weight: bold;
  color: #000;
  padding: 12px 0;
  cursor: pointer;
}


.operator {
  background-color: #ffd85e;
  border: none;
  border-radius: 8px;
  font-size: 18px;
  font-weight: bold;
  color: #000;
  padding: 12px 0;
  cursor: pointer;
}


.clear {
  background-color: #ff4d4d;
  border: none;
  border-radius: 8px;
  font-size: 18px;
  font-weight: bold;
  color: white;
  padding: 12px 0;
  cursor: pointer;
}


.equal {
  background-color: #28c76f;
  border: none;
  border-radius: 8px;
  font-size: 22px;
  font-weight: bold;
  color: white;
  padding: 12px 0;
  cursor: pointer;
  grid-column: 1 / 2;   
  margin-top: 5px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.15);
}


button:hover {
  opacity: 0.9;
  transform: scale(1.02);
  transition: 0.1s;
}
