body {
  font-family: sans-serif;
  background-color: #fff;
  margin: 0;
  padding: 0;
  color: #202122;
}

.topbar {
  background: #f8f9fa;
  text-align: right;
  padding: 8px 20px;
  border-bottom: 1px solid #ddd;
  font-size: 14px;
}

.page-wrapper {
  position: relative;
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 230px;
  gap: 20px;
  padding: 20px;
  align-items: start;
}

/* --- MAIN CONTENT --- */
main {
  font-size: 14.5px;
  line-height: 1.6;
}

h1 {
  font-size: 28px;
  border-bottom: 1px solid #a2a9b1;
  padding-bottom: 4px;
  margin-bottom: 10px;
}

/* --- TOP NAV (Tabs + Sidebar same line) --- */
.top-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border-bottom: 1px solid #a2a9b1; */
  padding-bottom: 6px;
  margin-bottom: 12px;
}

/* Tabs (Left Side) */
.tabs a {
  color: #0645ad;
  text-decoration: none;
  font-weight: 500;
  margin-right: 10px;
  font-size: 14px;
}

.tabs a.active {
  border-bottom: 2px solid #202122;
  padding-bottom: 2px;
}

/* Sidebar (Right Side) */
.subnav {
  display: flex;
  align-items: center;
  gap: 10px;
}

.subnav a {
  text-decoration: none;
  color: #0645ad;
  font-weight: 500;
  font-size: 14px;
}

.subnav a.active {
  border-bottom: 2px solid #202122;
  padding-bottom: 2px;
}

.subnav .tools {
  font-size: 13px;
  color: #202122;
}

.source {
  color: #54595d;
  font-size: 14px;
}

a {
  color: #0645ad;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h2, h3 {
  border-bottom: 1px solid #a2a9b1;
  padding-bottom: 4px;
}

.edit {
  font-size: 13px;
  color: #0645ad;
  margin-left: 5px;
}

blockquote {
  border-left: 3px solid #ccc;
  margin: 10px 0;
  padding-left: 10px;
  font-style: italic;
}

/* --- RIGHT SIDEBAR (Appearance Box) --- */
.appearance-box {
  border: none;
  border-radius: 4px;
  
  font-size: 14px;
  padding: 10px;
  color: #202122;
  position: sticky;
  top: 20px;
}

.appearance-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #a2a9b1;
  padding-bottom: 4px;
  margin-bottom: 8px;
}

.hide-link {
  font-size: 12px;
  color:black;
  background-color:#ccc;
  text-decoration: none;
}

.hide-link:hover {
  text-decoration: underline;
}

.appearance-section {
  margin-bottom: 10px;
}

.section-title {
  font-weight: bold;
  margin: 6px 0 4px 0;
  color: #202122;
}

.appearance-box label {
  font-size: 13px;
  cursor: pointer;
}

.appearance-box input[type="radio"] {
  margin-right: 4px;
}


