body {
  margin: 0;
  padding: 0;
  font-family: "Times New Roman", Times, serif;
  background-color: #e8e8e8;
}

.newspaper {
  width: 80%;
  max-width: 900px;
  background-color: #f7f7f7;
  margin: 30px auto;
  padding: 20px 25px;
  border: 1px solid #000;
  box-shadow: 0 0 5px #999;
}


.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 10px solid #000;
  padding-bottom: 8px;
}


.top-bar h1 {
  font-family: "Georgia", serif;
  font-size: 2em;
  text-align: center;
  flex-grow: 1;
}

.box {
  border: 2px solid #000;
  padding: 5px 12px;
  background: black;
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 0.9em;
  width:15%
}

.main-title {
  text-align: center;
  margin-top: 20px;
  border-bottom: 10px solid #000;
  padding-bottom: 10px;
}

.main-title h2 {
  font-size: 3em;
  font-weight: bold;
  margin: 0;
}

.main-title p {
  font-size: 1.3em;
  margin: 5px 0 0;
  letter-spacing: 1px;
}

.middle {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 20px;
}

.column {
  width: 30%;
}

.column h3 {
  text-transform: uppercase;
  font-size: 1em;
  font-weight: bold;
}

.column p {
  font-size: 0.9em;
  text-align: justify;
  line-height: 1.5;
}

.image {
  width: 35%;
  text-align: center;
}

.image img {
  width: 100%;
  height: 500px;
  border: 1px solid #000;
}


.bottom-text {
  text-align: justify;
  font-size: 1em;
  font-family: "Times New Roman", Times, serif;
}


footer {
  display: flex;
  justify-content: space-between;
  border-top: 2px solid #000;
  padding-top: 15px;
  margin-top: 30px;
}

.foot-box {
  width: 32%;
  text-align: center;
  font-weight: bold;
  font-size: 0.9em;
  border: 2px solid #000;

  padding: 5px;
  background-color: #000;
  color: #fff;
}